body {
  background-color: #f5f5f5;
  color: #333;
  font-family: 'poppins', sans-serif;
  padding-top: 200px;
  }
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #141416;
  color: #fff;
  padding: 30px 0;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
  justify-content: center;
  align-items: center;
}

.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 2em;
  font-weight: bold;
  color: #fff;
}
.menu {
  list-style: none;
  display: flex;
  gap: 40px;
}

.menu li a {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  transition: 0.3s;
}

.menu li a:hover {
  color: red;
}

.login-wrapper {
  display: flex;
  justify-content: center; 
  margin-top: 40px; 
  width: 100%;
  height: 450px;
}

.container-login {
  width: 420px;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 10px;
  color: #000000;
  padding: 30px 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  margin-right: 80px;
  position: relative;
  z-index: 1;
}

.container-login h1 {
  font-size: 36px;
  text-align: center;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box input {
  width: 90%;
  height: 40%;
  background-color: transparent;
  border: 2px solid #000000;
  border-radius: 40px;
  outline: none;
  font-size: 16px;
  color:#000000;
  padding: 20px 45px 20px 10px;
  margin-top: 20px;
}

.input-box input::placeholder {
  color: #000000;
}

form a {
  color: #1a417b;   
  text-decoration: none; 
  font-size: 15px;
}

form a:hover {
  text-decoration: underline;
}

.senha {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-left: 15px;
}


.login {
  width: 100%;
  height: 50px;
  background-color: #ffffff;
  border: 2px solid #00000022;
  border-radius: 40px;
  cursor: pointer;
  font-size: 16px;
  color: #000000;
  font-weight: 600;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  margin-top: 40px;
}

.login:hover {
  background-color: transparent;
  border: 2px solid #000000;
  color:#000000;
}

.cadastre-se {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-left: 155px;
}
.cadastro-wrapper {display: flex;
  justify-content: center; 
  margin-top: 40px; 
  width: 100%;
  height: 550px;
}
