body {
  background-color: #f5f5f5;
  color: #333;
}
header {
  background-color: #141416;
  color: #fff;
  padding: 30px 0;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
}

.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 2em;
  font-weight: bold;
  color: #fff;
}
.menu {
  list-style: none;
  display: flex;
  gap: 40px;
}

.menu li a {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  transition: 0.3s;
}

.menu li a:hover {
  color: red;
}
.produtos {
  padding: 20px 5%;
  text-align: center;
}

.produtos h2 {
  margin-bottom: 30px;
  font-size: 1.8em;
  color: #222;
}

.lista-produtos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.card {
  background-color: #fff;
  border-radius: 20px;
  width: 270px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.card h3 {
  margin-top: 10px;
  font-size: 1.1em;
  color: #222;
}

.card p {
  font-size: 0.9em;
  margin: 10px 0;
}

.preco {
  font-weight: bold;
  color: red;
}

button {
  background-color: #0077ff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #005ccc;
}
footer {
  text-align: center;
  background-color: #1e1e2f;
  color: #fff;
  padding: 15px 0;
  margin-top: 40px;
}
