body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f5f5f5;
  color: #333;
}
header {
  background-color: blue;
  color: white;
  padding: 20px;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #00bfff;
}
.produtos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.card {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  padding: 15px;
  width: 200px;
  text-align: center;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.card h3 {
  margin: 10px 0 5px;
}

.card p {
  font-weight: bold;
  color: #222;
}

.card button {
  background-color: #00bfff;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
}

.card button:hover {
  background-color:;
}
